<footer class="container alert" style="color:gray;font-weight:200">
	<span class="pull-right">
		Created by 
		<a href="https://twitter.com/britishnathan" style="color:red">Nathan Johnson</a> 
		and 
		<a href="http://kuanbutts.com/" style="color:red">Kuan Butts</a>.
		<a href="/about" style="font-weight:bold">More about this project.</a>
		<br>
		<small>
			Special thanks to <a href="https://twitter.com/MicrosoftNY">@MicrosoftNY</a> for hosting this project
			and <a href="http://betanyc.us/">BetaNYC</a> for supporting civic tech.
			<br>
			Disclaimer: All information provided without warranty of any kind. Have a nice day. :)
		</small>
	</span>
	<br>
</footer>
