<!-- index.html -->
<!DOCTYPE html>
<html lang="en" xml:lang="en" >
  <head>
    <meta charset="utf-8" />

    <title>NYC Bus Transit Data</title>

    <link rel="icon" href="/favicon.ico" type="image/icon">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <style type="text/css">
    	.bus-lapel {
    		line-height: 3;
    		padding: 10px;
    		font-size: 1em;
    		cursor: pointer;
		    -webkit-transition: all 200ms ease-o
		    -ms-transition: all 200ms ease-out;
		    -moz-transition: all 200ms ease-out;
		    transition: all 200ms ease-out;
    	}
    	.bus-lapel:not(:last-child) {
    		margin-right: 5px;
    	}
			.dev-access:hover, .bus-lapel:hover {
				box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
		    animation: pulse 2s ease infinite;
			}

			@keyframes pulse {
			  0% { transform: scale(1); }
			  50% { transform: scale(1.05); }
			  100% { transform: scale(1); }
			}

    	.twitter-typeahead {
    		float: left;
    		width: 100%;
    	}
			.tt-menu {
			  width: 100px;
			  padding: 8px 0;
			  background-color: #fff;
			  border: 1px solid #ccc;
			  border: 1px solid rgba(0, 0, 0, 0.2);
			  -webkit-border-radius: 3px;
			     -moz-border-radius: 3px;
			          border-radius: 3px;
			  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
			     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
			          box-shadow: 0 5px 10px rgba(0,0,0,.2);
			}
			.tt-suggestion {
			  padding: 3px 10px;
			}
			.tt-suggestion:hover {
			  cursor: pointer;
			  color: #fff;
			  background-color: #0097cf;
			}
			.tt-suggestion.tt-cursor {
			  color: #fff;
			  background-color: #0097cf;
			}
			.tt-suggestion p {
			  margin: 0;
			}
			td, th {
				padding-right: 10px;
			}
			.infobox {
				color: #FFF;
			}
			.infobox table {
				/*width: 100%;*/
			}
			.infobox .panel-table {
				height: 300px;
			}
			.infobox td {
				font-size: 3.5em;
				font-weight: 200;
			}
    </style>

  </head>
  <body>

  	<div class="container" style="margin-top: 20px">

  		<h1>
  			<b onclick="gohome()" style="cursor:pointer">
  				Bus Data API
  			</b> 
  			<span style="color:grey;font-weight:100">
  				Performance Analysis Explorer
  			</span>

  			<br>
  			<small>
  				<sub>
  					Thanks for checking this section out. Capability coming soon, please check back in a week or so! :)
  				</sub>
  			</small>
  		</h1>


			<h3>
				Year to date performance
			</h3>

  	</div>

  	<% include ../partials/footer %>

  </body>
	<script>

		function gohome () {
			window.location.pathname = "/";
		};

	</script>
</html>


